
html{
  scroll-behavior: smooth;
}


.light {
  background-color:#f8f9fa;
  --bg:#e9f0f6;
  --card-bg: #b9bec116;
  color: #3d365c;
  --text-color:#3d365c;
  transition: all 0.6s ease-in-out;
  min-height: 100vh;
  /* padding-top: 3rem; */
  --shadow-color: #898ac4;
  /* light mode shadow */
}

.dark {
  background-color: #1e1e1e;
  --bg: #252525;
  --card-bg: #393e46;
  color: #ecf0f1;
  --text-color: #ecf0f1;
  transition: all 0.6s ease-in-out;
  min-height: 100vh;
  --shadow-color: rgba(131, 131, 131, 0.386);
  /* dark mode shadow */
}
.toggle-Wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
   /* top: 1rem; */
  right: 1rem; 
  z-index: 1000;
  /* padding: 0.6%; */
  border-radius: 25px;
  /* height: 60px; */
  width: 60px;
  background-color: inherit;
  /* border: 1px solid currentColor; */
  cursor: pointer;
  /* color: inherit; */
  font-size: 1.2rem;
  transition: background 0.6s ease-in-out;
  /* box-shadow: 0 10px 25px var(--shadow-color); */
}

/* .toggle-circle {
  color: #dee606;
  /* moon default */
/* } */ 

.toggle-Wrapper:hover{
  color: rgb(172, 121, 54);
}

