/* Root Theme Variables (Minimal Colors by Dumma Branding) */
:root {
    /* --primary-bg: #E5EAF5;
    --secondary-bg: #D0BDF4;
    
    --highlight: #A0D2EB; */
    /* --text-color: #494D5F; */
    --accent-color: #2ecc71;
    --card-bg: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-glow: #a8e6cf;
}

/* Global Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
        /* color: var(--text-color); */
}
html,
body {
    

    scroll-behavior: smooth;
    transition: all 0.4s ease-in-out;
}

h2,
h4 {
    color: var(--accent-color);
}
